 @page "/"

@using MercadUM.Data
@using DataAccessLibrary.Data

@inject ApplicationDbContext _dbu
 
<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.



@code {
    private UtilizadorModel utilizador = new UtilizadorModel();

    private async void HandleValidSubmit()
    {
        try
        {
            _dbu.Utilizadores.Add(utilizador);
            await _dbu.SaveChangesAsync();
        }
        catch
        {
            base.StateHasChanged();
        }
        utilizador = new UtilizadorModel();
        base.StateHasChanged();
    }
}

