@page "/identity/account/login"

<h3>Login</h3>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="/src/input.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;700&display=swap" rel="stylesheet">
</head>
<body class="bodyl padding">
    <!--Logo para voltar para o menu default-->
    <div className="div0">
        <a href="#">
            <span class="span1">Workflow</span>
            <image src="/images/IconM.png" width="75" height="75" />
        </a>
    </div>

    <!--Login-->
    <div class="sectionl">

        <h1 class="word2">Login</h1>

        <h1 class="word7">Email</h1>
        <div class="div3">
            <input type="email" id="username" class="search" placeholder="Email">
        </div>
        <h1 class="word7">Password</h1>
        <div class="div3">
            <input type="password" id="pass" class="search" placeholder="Password">
        </div>
        <button type="button" class="criar" onclick="">Login</button>
        <a href="/src/register.html" class="word8">Para criar nova conta</a>
    </div>


    <!--Footer-->
    <div class="footer1">

        <!--Logo-->
        <a href="#">
            <span class="span1">Workflow</span>
            <image src="/images/IconM.png" width="75" height="75" />
        </a>

        <!--Div das Faq-->
        <div class="section">
            <h1 class="word4">Politica de Cookies:</h1>
            <a href="https://www.youtube.com/watch?v=ovaixqyLO3Y" class="word5">FAQ</a>
        </div>

        <!--Nome-->
        <h1 class="word6"> MercadUM</h1>

        <!--Div dos Contactos-->
        <div class="section">
            <h1 class="word4">Contactos:</h1>
            <h1 class="word5">info@gmail.com</h1>
            <h1 class="word5">933333333</h1>
            <div class="midia">
                <a href="https://www.youtube.com/watch?v=ovaixqyLO3Y"><img src="/images/facebook.svg" alt="facebook" width="25" height="25" /></a>
                <a href="https://www.youtube.com/watch?v=ovaixqyLO3Y"><img src="/images/instagram.svg" alt="facebook" width="25" height="25" /></a>
                <a href="https://www.youtube.com/watch?v=ovaixqyLO3Y"><img src="/images/twitter.svg" alt="facebook" width="25" height="25" /></a>
            </div>
        </div>

    </div>
</body>