@page "/{UrlProduto}/"

@using DataAccessLibrary
@using DataAccessLibrary.Model
@using Microsoft.AspNetCore.Http.Extensions;


@inject IUtilizadoresData _dbu
@inject IBarracasData _dbb
@inject IFeirasData _dbf
@inject IProdutosData _dbp
@inject NavigationManager UriHelper

<h3>Produto</h3>
@if (GetProduto(produtos,UrlProduto) is null)
{
    <p><em>A carregar...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Descrição</th>
                <th>Preço</th>
                <th>Stock</th>
            </tr>
        </thead>
        <tbody>

                <tr>

                    <td>@GetProduto(produtos,UrlProduto).Nome </td>
                    <td>@GetProduto(produtos,UrlProduto).Descricao </td>
                    <td>@GetProduto(produtos,UrlProduto).Preco</td>
                    <td>@GetProduto(produtos,UrlProduto).Stock</td>

                </tr>

            
        </tbody>
    </table>
}


@code {

    private List<ProdutoModel> produtos = _dbp.GetProdutos();

    [Parameter]
    public string UrlProduto { get; set; }

    protected override async Task OnInitializedAsync()
    {
        produtos = await _dbp.GetProdutos();
    }

    public ProdutoModel GetProduto(List<ProdutoModel> produtos, string nome)
    {

        foreach (var b in produtos)
        {

            if (b.Nome == nome)
            {

                return b;
            }
        }
        return null;
    }


}
