@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Confirmação do reset";
}

<h1>@ViewData["Title"]</h1>
<p>
    Verifique o seu email para obter instruções para fazer reset à password.
</p>
